[submodule "client/ios/External/facebook-ios-sdk"]
	path = client/ios/External/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "client/droid/facebook-android-sdk"]
	path = client/droid/facebook-android-sdk
	url = https://github.com/facebook/facebook-android-sdk.git
