body {
	font-family: sans-serif;
	text-align: center;
	background-color: transparent;
}

.hidden {
	display: none;
}

.redline {
	width: 100%;
}

#main-menu .games-list {
	background-image: url("../shared/visual/Textures/old-paper-texture-vertical.jpg");
	background-size:100% auto;
	background-attachment: scroll;
	height: 85%;
	overflow: scroll;
}

#main-menu .menu-bomb {
	margin-top: 10px;
	width: 33%;
}

#main-menu .label {
	width: 50%;
}

#main-menu .footer .footer-buttons .newGameBtn{
	float: left;
}
