
<style  type="text/css">
#banner {
   margin-left:auto;
   margin-right:auto;
   width:1000px; 
}
body
{
background-color:#00ff00;
}


widget-text {
   padding:10px;
   background-color:#FCFCFC;  
}
</style>