<html>
<head>
	<title>Spartan Missile Strike</title>
	<link rel="stylesheet" href="view.css">
	<script src="../Util/DomHelper.js"></script>
	<script src="MainView.js"></script>
	<script src="View.js"></script>
	<script src="FixedHeightView.js"></script>
</head>
<body>
	<div id="view-0"></div>
	<div id="view-1"></div>
	<div id="view-2"></div>
	<div id="view-3"></div>
	<script>
		Imports = {};
		Imports.DomHelper = new DomHelper();
		mainView = new MainView();
		view0 = new FixedHeightView("view-0");
		view1 = new FixedHeightView("view-1");
		view2 = new FixedHeightView("view-2");
		view3 = new FixedHeightView("view-3");
	</script>
</body>
</html>