<html>
<head>
	<title>Spartan Missile Strike</title>
	<link rel="stylesheet" href="view.css">
	<style>
		#main-menu {
			background-color: #8080F0;
		}
		#map {
			background-color: #F08080;
		}
		#fire {
			background-color: #80F080;
		}
		#options {
			background-color: #F0F080;
		}
		#opponents {
			background-color: #808080;
		}
		#base {
			background-color: #F080F0;
		}
	</style>
	<script src="../Util/DomHelper.js"></script>
	<script src="MainView.js"></script>
	<script src="View.js"></script>
	<script src="FixedHeightView.js"></script>
</head>
<body>
	<div id="main-menu">
		<div>Main Menu</div><br>
		<div onclick="mainView.loadView(map)">Resume game</div>
		<div onclick="mainView.loadView(opponents)">New game</div>
		<div onclick="mainView.loadView(base)">Accept invitation</div>
		<div onclick="mainView.loadView(options)">Options</div>
	</div>
	<div id="map">
		<div>Map view</div><br>
		<div onclick="mainView.previousView()">Back</div><br>
		<div onclick="mainView.loadView(fire)">Fire</div>
		<div onclick="mainView.loadView(options)">Options</div>
	</div>
	<div id="fire">
		<div>Fire view</div><br>
		<div onclick="mainView.previousView()">Back</div><br>
		<div onclick="mainView.loadView(options)">Options</div><br>
	</div>
	<div id="options">
		<div>Options</div><br>
		<div onclick="mainView.previousView()">Back</div><br>
	</div>
	<div id="opponents">
		<div>Opponents</div><br>
		<div onclick="mainView.previousView()">Back</div><br>
		<div onclick="mainView.loadView(base)">Choose base</div>
	</div>
	<div id="base">
		<div>Choose base</div><br>
		<div onclick="mainView.previousView()">Back</div><br>
		<div onclick="mainView.loadView(map, mainMenu)">Begin game</div>
	</div>
	<script>
		Imports = {};
		Imports.DomHelper = new DomHelper();
		mainView = new MainView();
		mainMenu = new FixedHeightView("main-menu");
		map = new FixedHeightView("map");
		fire = new FixedHeightView("fire");
		options = new FixedHeightView("options");
		opponents = new FixedHeightView("opponents");
		base = new FixedHeightView("base");
		mainView.loadView(mainMenu);
	</script>
</body>
</html>